{% extends "common/_base.html" %}

{% block title %}パスワード変更完了{% endblock %}
{% block h1_title %}Password change done{% endblock %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration.css' %}">
    <script type="text/javascript">
    $(function(){
        var loader = $('.loader-wrap');
        $(window).on('load',function(){
            loader.fadeOut();
        });
        setTimeout(function(){
            loader.fadeOut();
		},3000);
    });
    </script>
{% endblock %}

{% block content %}
    <div class="loader-wrap">
        <div class="loader">Loading...</div>
    </div>
    <p style="margin:0px 3px 10px 3px;"><a href="{% url 'users:account_information' %}">< Account_Infromation</a></p>
    <h5>パスワード変更完了</h5>
    <p style="text-align: center"><a href="{% url 'home' %}">ホームに戻る</a></p>
{% endblock %}