<!DOCTYPE html>
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/5.0.9/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://github.com/lukehaas/css-loaders/blob/step2/css/load8.css">
    {% block extra_head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>


</head>
<header>
    <nav class="navbar navbar-light justify-content-start">
        <a href="http://localhost:8000" class="navbar-brand" style="color:white;"><i class="fas fa-video"></i>  Watching the moview!</a>
        <span class="navbar-text" style="color:white;">{% block h1_title %}{% endblock %}</span>
    </nav>
</header>
<body>
<main class="container-fluid">
<br>
    {% block content %}{% endblock %}
<br>
</main>
</body>
{% block extra_js %}{% endblock %}
</html>